body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote {
	margin:1;
	padding:3px;
	border-width:1;
}
body {
	-epub-hyphens:auto;
}
p.Basic-Paragraph {
	color:#000000;
	font-family:"Minion Pro", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.6;
	margin-bottom:0;
	margin-left:6;
	margin-right:6;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
	padding:3px;
}
span.Contents {
	color:#3dc7f4;
	font-family: "jaf-facitweb",sans-serif;
	font-size:16px;
	font-style:normal;
	font-weight:bold;
	padding:1;
}
span.Hyperlink {
	color:#4f5cd6;
	text-decoration:underline;
}
span.Piece-Subtitle {
	color:#3dc7f4;
	font-family: "jaf-facitweb",sans-serif;
	font-size:16px;
	font-style:italic;
	font-weight:bold;
}
span.Piece-Title {
	color:#3dc7f4;
	font-family: "jaf-facitweb",sans-serif;
	font-size:17px;
	font-style:normal;
	font-weight:bold;
	text-decoration:underline;
}
span.Text {
	font-family: "jaf-facitweb",sans-serif;
	font-size:14px;
	font-style:normal;
	font-weight:normal;
}
span.Title-Desc {
	color:#3dc7f4;
	font-family: "jaf-facitweb",sans-serif;
	font-size:15px;
	font-style:normal;
	font-weight:normal;
}
p.ParaOverride-1 {
	text-align:justify;
	text-align-last:justify;
}
p.ParaOverride-2 {
	-epub-hyphens:none;
}
p.ParaOverride-3 {
	-epub-hyphens:none;
	text-align:center;
}
p.ParaOverride-5 {
	line-height:0.0;
	
}
p.ParaOverride-6 {
	line-height:0.0;
	-epub-hyphens:none;
	text-align:right;
	
}
span.CharOverride-1 {
	font-family: "jaf-facitweb",sans-serif;
	font-size:36px;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-2 {
	font-family: "jaf-facitweb",sans-serif;
	font-size:22px;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-3 {
	font-family: "jaf-facitweb",sans-serif;
	font-size:16px;
	font-style:italic;
	font-weight:normal;
}
span.CharOverride-4 {
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-5 {
	color:#f4773d;
	font-style:italic;
	font-weight:bold;
}
span.CharOverride-6 {
	color:#f4d23d;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-7 {
	color:#3dc7f4;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-8 {
	color:#f4773d;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-9 {
	font-family: "jaf-facitweb",sans-serif;
	font-size:14px;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-10 {
	font-family: "jaf-facitweb",sans-serif;
	font-size:14px;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-11 {
	font-family: "jaf-facitweb",sans-serif;
	font-size:14px;
	font-style:normal;
	font-weight:normal;
}
#_idVideo000, #_idVideo001, #_idVideo002, #_idVideo003 {
	height:100.00%;
	width:100.00%;
}
#_idContainer002 {
	display:inline-block;
	padding:56.25% 0% 0% 0%;
	position:relative;
	text-align:left;
	width:72.40%;
}
#_idContainer004 {
	display:inline-block;
	padding:56.25% 0% 0% 0%;
	position:relative;
	text-align:left;
	width:100%;
}
#_idContainer008 {
	display:inline-block;
	padding:56.25% 0% 0% 0%;
	position:relative;
	text-align:left;
	width:100%;
}
#_idContainer011 {
	display:inline-block;
	padding:56.25% 0% 0% 0%;
	position:relative;
	text-align:left;
	width:83.5%;
}
img._idGenObjectAttribute-1 {
	width:74.91%;
}
object._idGenObjectAttribute-2 {
	height:100.00%;
	width:100.00%;
}

img._idGenObjectAttribute-3 {
	width:100.00%;
}
img._idGenObjectAttribute-4 {
	width:39.75%;
}
img._idGenObjectAttribute-5 {
	width:86.56%;
}
img._idGenObjectAttribute-6 {
	width:81.44%;
}
img._idGenObjectAttribute-7 {
	width:45.96%;
}
img._idGenObjectAttribute-8 {
	width:79.85%;
}
img._idGenObjectAttribute-9 {
	width:58.47%;
}
div._idGenObjectAttribute-10 {
	height:100.00%;
	left:0%;
	overflow:hidden;
	position:absolute;
	top:0%;
	width:100.00%;
}
div._idGenObjectStyleOverride-1 {
	background-color:#3dc7f4;
	border:6px solid #3dc7f4;
	margin:auto;
	max-width:700px;

}
div._idGenObjectStyleOverride-2 {
	
	border:6px solid #3dc7f4;
	margin:auto;
	max-width:700px;
}
div._idG
div._idGenObjectStyleOverride-2 {
	
	border:10px solid #FFFFFF;
	margin:auto;
	width:90%;
	}
}enObjectLayout-1 {
	text-align:center;
}