body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote {
	margin:14;
	padding:0;
	border-width:0;
}
body {
	-epub-hyphens:auto;
}
p.Basic-Paragraph {
	color:#000000;
	font-family:"Minion Pro", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
span.Piece-Subtitle {
	color:#3dc7f4;
	font-family: "jaf-facitweb",sans-serif;
	font-size:38px;
	font-style:italic;
	font-weight:bold;
}
span.Piece-Title {
	color:#3dc7f4;
	font-family: "jaf-facitweb",sans-serif;
	font-size:42px;
	font-style:normal;
	font-weight:bold;
	text-decoration:underline;
}
span.Text {
	font-family: "jaf-facitweb",sans-serif;
	font-size:34px;
	font-style:normal;
	font-weight:normal;
}
span.Title-Desc {
	color:#3dc7f4;
	font-family: "jaf-facitweb",sans-serif;
	font-size:36px;
	font-style:normal;
	font-weight:normal;
}
p.ParaOverride-1 {
	text-align:left;
}
p.ParaOverride-2 {
	-epub-hyphens:none;
}
p.ParaOverride-3 {
	-epub-hyphens:none;
	text-align:center;
}
span.CharOverride-1 {
	font-family: "jaf-facitweb",sans-serif;
	font-size:96px;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-2 {
	font-family: "jaf-facitweb",sans-serif;
	font-size:57px;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-3 {
	color:#3dc7f4;
	font-family: "jaf-facitweb",sans-serif;
	font-size:42px;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-4 {
	color:#3dc7f4;
	font-family: "jaf-facitweb",sans-serif;
	font-size:42px;
	font-style:normal;
	font-weight:bold;
	text-decoration:underline;
}
span.CharOverride-5 {
	color:#3dc7f4;
	font-family: "jaf-facitweb",sans-serif;
	font-size:36px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-6 {
	color:#3dc7f4;
	font-family: "jaf-facitweb",sans-serif;
	font-size:48px;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-7 {
	font-family: "jaf-facitweb",sans-serif;
	font-size:42px;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-8 {
	color:#3dc7f4;
	font-family: "jaf-facitweb",sans-serif;
	font-size:38px;
	font-style:italic;
	font-weight:bold;
}
span.CharOverride-9 {
	font-family: "jaf-facitweb",sans-serif;
	font-size:42px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-10 {
	font-family: "jaf-facitweb",sans-serif;
	font-size:34px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-11 {
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-12 {
	color:#f4773d;
	font-family: "jaf-facitweb",sans-serif;
	font-size:38px;
	font-style:italic;
	font-weight:bold;
}
span.CharOverride-13 {
	color:#f4d23d;
	font-family: "jaf-facitweb",sans-serif;
	font-size:42px;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-14 {
	color:#3dc7f4;
	font-family: "jaf-facitweb",sans-serif;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-15 {
	color:#f4773d;
	font-family: "jaf-facitweb",sans-serif;
	font-size:42px;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-16 {
	color:#ae3df4;
	font-family: "jaf-facitweb",sans-serif;
	font-size:42px;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-17 {
	font-family: "jaf-facitweb",sans-serif;
	font-size:40px;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-18 {
	font-family: "jaf-facitweb",sans-serif;
	font-size:36px;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-19 {
	font-family: "jaf-facitweb",sans-serif;
	font-size:36px;
	font-style:normal;
	font-weight:normal;
}
#_idVideo000, #_idVideo001, #_idVideo002, #_idVideo003 {
	height:100.00%;
	width:100.00%;
}
#_idContainer002 {
	background-image:url(../image/2.png);
	background-repeat:no-repeat;
	background-size:contain;
	display:inline-block;
	padding:56.14% 0% 0% 0%;
	position:relative;
	text-align:left;
	width:72.25%;
}
#_idContainer004 {
	background-image:url(../image/2.png);
	background-repeat:no-repeat;
	background-size:contain;
	display:inline-block;
	padding:56.14% 0% 0% 0%;
	position:relative;
	text-align:left;
	width:100%;
}
#_idContainer008 {
	background-image:url(../image/6.png);
	background-repeat:no-repeat;
	background-size:contain;
	display:inline-block;
	padding:56.14% 0% 0% 0%;
	position:relative;
	text-align:left;
	width:100%;
}
#_idContainer011 {
	background-image:url(../image/6.png);
	background-repeat:no-repeat;
	background-size:contain;
	display:inline-block;
	padding:56.14% 0% 0% 0%;
	position:relative;
	text-align:left;
	width:83.50%;
}
img._idGenObjectAttribute-1 {
	width:74.77%;
}
object._idGenObjectAttribute-2 {
	height:100.00%;
	width:100.00%;
}
div._idGenObjectAttribute-3 {
	height:100.00%;
	left:0%;
	overflow:hidden;
	position:absolute;
	top:0%;
	width:100.00%;
}
img._idGenObjectAttribute-4 {
	width:99.81%;
}
img._idGenObjectAttribute-5 {
	width:39.68%;
}
img._idGenObjectAttribute-6 {
	width:86.39%;
}
img._idGenObjectAttribute-7 {
	width:81.28%;
}
img._idGenObjectAttribute-8 {
	width:45.87%;
}
img._idGenObjectAttribute-9 {
	width:79.69%;
}
img._idGenObjectAttribute-10 {
	width:58.35%;
}
div._idGenObjectStyleOverride-1 {
	background-color:#3dc7f4;
	border-width:0px;
}
div._idGenObjectStyleOverride-2 {
	border-width:0px;
}
div._idGenObjectLayout-1 {
	text-align:center;
}
